body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin: 30px 0;
}
.content {
  padding: 20px;
}
.pack-content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 0 2em;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4.8rem !important;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #004e92;
  margin-bottom: 30px;
  font-size: 3rem !important;
  text-align: center;
}

.form-user {
  background-color: var(--gris2);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #fff;
  border-radius: 1rem;
}

.field {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.field input {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.field label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}

.dark-shadow {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}

.btn-block {
  display: block;
  width: 100%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.alert p {
  margin-bottom: 0 !important;
}
